@charset "UTF-8";
//基础字体大小,font-size,line-height

/*背景图片*/
$cssImg_url:'../images/' ;
/*颜色设定*/
//文字颜色
$textClr:#fff;
//文字背景颜色
$textBackClr:#cae1ee;
//鼠标经过颜色
$hoverClr:#0d519c;
//标签栏上部颜色
$tabBorderTop:#c8dcf2;
/*todayTopic靠右文本颜色*/
$todayTopicRight:#798ba5;
