@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Material-Icons.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('../fonts/Roboto-Italic.woff'), local('Roboto-Italic'), url('../fonts/Roboto-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('../fonts/Roboto-Light.woff'), local('Roboto-Light'), url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/Roboto-Regular.woff'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('../fonts/Roboto-Medium.woff'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('../fonts/Roboto-Bold.woff'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff') format('woff');
}

