// 导航栏图标动画
//---------------------------------------
.hover-1 {
	transition: color .6s !important;
}

.hover-1:hover {
	color: #f9934e !important;
}

// 图文动画
//---------------------------------------
.animation-style-1 > li {
	opacity: 0;
	animation-name: animationStyle1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			animation-duration: 300ms * $i;
		}
	}
}

//---------------------------------------
.animation-style-2 > li {
	opacity: 0;
	animation-name: animationStyle2;
	transform-origin: top center;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			animation-duration: 300ms * $i;
			animation-delay: (150ms * $i) - 300;
		}
	}
}

//---------------------------------------
.animation-style-3 {
	animation: fadeIn 400ms
}

//---------------------------------------
.animation-style-4 > li {
	opacity: 0;
	animation-name: animationStyle4;
	animation-duration: 300ms;
	transform-origin: top right;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			animation-delay: (150ms * $i) - 300;
		}
	}
}

//---------------------------------------
.animation-style-5 {
	opacity: 0;
	animation-name: animationStyle5;
	animation-duration: 3000ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}

//=======================================
//  keyframes
//=======================================
@keyframes animationStyle1 {
	0% {
		opacity: 0;
		transform: rotateY(-90deg) translate3d(0, 30px, 0);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

@keyframes animationStyle2 {
	0% {
		opacity: 0;
		transform: rotateX(-90deg);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg);
	}
}

@keyframes animationStyle4 {
	0% {
		opacity: 0;
		transform: rotate(-30deg);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg);
	}
}

@keyframes animationStyle5 {
	0% {
		opacity: 0;
		transform: rotate(-30deg);
	}
	50% {
		opacity: 1;
		transform: rotate(0deg) scale(1.5,1.5);
	}
	100% {
		opacity: 0;
		transform: rotate(30deg);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: rotateX(-90deg) rotateY(-90deg) translate3d(-50%, 50px, 0);
	}
	100% {
		opacity: 1;
		transform: rotateX(0deg) rotateY(0deg) translate3d(-50%, -50%, 0);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: rotateX(0deg) rotateY(0deg) translate3d(-50%, -50%, 0);
	}
	100% {
		opacity: 0;
		transform: rotateX(-90deg) rotateY(90deg) translate3d(-50%, 50px, 0);
	}
}

//=======================================
//  滚动条样式
//=======================================
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-track-piece {
	background-color: #4a473c;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	background: -moz-linear-gradient(45deg, rgba(50, 46, 31, 1), rgba(0, 0, 0, 0.2)); /*Mozilla*/
	background: -o-linear-gradient(45deg, rgba(50, 46, 31, 1), rgba(0, 0, 0, 0.2)); /*Opera11*/
	background: -webkit-linear-gradient(45deg, rgba(50, 46, 31, 1), rgba(0, 0, 0, 0.2)); /*new gradient for Webkit*/
}

::-webkit-scrollbar-button {
	background-color: red;
}